{% extends "learning_logs/base.html" %} 
{% block header %}
 <h1>Topics</h1>
{% endblock header %}
{% block content %}
  <!--<p>Topics</p>-->
  <ul>
    {% for topic in topics %}
     <li>
      <h3>
      <a href="{% url 'learning_logs:entry' topic.id %}">{{ topic }}</a>
    
    <small>
      <a href="{% url 'learning_logs:del_topic' topic.id %}" class = "text-danger" onclick = "return confirm('Are you sure you want to delete this?')">Delete Topic </a>
     </small>
    </h3>
     </li>
    {% empty %}
     <li>No topics have been added yet.</li> 
    {% endfor %}
  </ul>
  <h3><a href="{% url 'learning_logs:new_topic' %}">Add a new topic:</a></h3>
{% endblock content %}
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script type="text/javascript">
$(document).on('click', '.conf_del', function(){
    return confirm('Are you sure you want to delete this?');
  })
  </script> --> 
